h1 {
    color: red;
    text-align: center;
}

h2 {
    color: black;
    text-align: left;
}

#quem-sou-eu {
    text-align: left;
    color: black
}

.tabela {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 6px solid red;
    width: 100%;
}

/* dispotivos